<a href="https://colab.research.google.com/github/Polinia/skillfactory_rds/blob/main/Movies_IMBD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
import itertools
from itertools import combinations

In [5]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1430,tt0317132,14000000,32645546,Because of Winn-Dixie,Jeff Daniels|AnnaSophia Robb|Cicely Tyson|Eva ...,Wayne Wang,Discover what happens when you go looking for ...,"A girl, abandoned by her mother when she was t...",106,Comedy|Drama|Family,Twentieth Century Fox Film Corporation,2/18/2005,6.1,2005
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002
1802,tt0162222,90000000,429632142,Cast Away,Tom Hanks|Helen Hunt|Chris Noth|Paul Sanchez|L...,Robert Zemeckis,"At the edge of the world, his journey begins.","Chuck, a top international manager for FedEx, ...",143,Adventure|Drama,DreamWorks SKG|Twentieth Century Fox Film Corp...,12/22/2000,7.3,2000
1793,tt0770772,11000000,13196245,I Think I Love My Wife,Chris Rock|Kerry Washington|Gina Torres|Steve ...,Chris Rock,In marriage no one can hear you scream.,Richard Cooper (Rock) is a married man and fat...,90,Comedy|Romance,Fox Searchlight Pictures,3/16/2007,5.3,2007
973,tt1853728,100000000,425368238,Django Unchained,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,Quentin Tarantino,"Life, liberty and the pursuit of vengeance.","With the help of a German bounty hunter, a fre...",165,Drama|Western,Columbia Pictures|The Weinstein Company,12/25/2012,7.7,2012

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Preprocessing

In [7]:
answers = {} # create a dictionary for answers

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#profit:
data['profit'] = (data['revenue'] - data['budget'])

# 1. Which movie on the list has the biggest budget?

In [8]:
# insert the question number and your answer into the dictionary
# Example: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'

In [9]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) ' #+
# if you answered correctly, you can add a comment with the icon '+'

In [10]:
# here I write my code to solve this issue:
data.loc[data['budget']==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

Option 2

In [11]:
# adding different solutions
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2.Which movie is the longest (in minutes)?

In [12]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [13]:
data.loc[data['runtime']==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Which movie is the shortest (in minutes)?

In [14]:
answers['3'] ='3. Winnie the Pooh (tt1449283) ' #+

In [15]:
data.loc[data['runtime']==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. What is the average length of films?

In [16]:
answers['4'] = '2. 110' #+

In [17]:
round(data['runtime'].mean())

110

# 5. What is the median length of the films?

In [18]:
answers['5'] = '1. 107' #+

In [19]:
data['runtime'].median()

107.0

# 6. What is the most profitable movie?
####  (profit = revenue - budget)

In [20]:
# it is better to put the code for the profit column into Preprocessing, which is at the beginning"

In [21]:
answers['6'] = '5. Avatar (tt0499549)' #+

In [22]:
data[data['profit']==data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7.  What is the most unprofitable movie?

In [23]:
answers['7'] = '5.The Lone Ranger (tt1210819)' #+

In [24]:
data[data['profit']==data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. How many movies in the dataset were over-budgeted?"

In [25]:
answers['8'] = '1. 1478' #+

In [26]:
len(data[data['revenue']>data['budget']])

1478

# 9.What was the highest grossing film of 2008?

In [27]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

In [28]:
data[data['revenue']==data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10.  What was the most profitable movie between 2012 and 2014 (including)?

In [29]:
answers['10'] = '5.The Lone Ranger (tt1210819)' #+

In [30]:
data[data['profit']==data[(data.release_year>=2012) &
                          (data.release_year<=2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11.  What movie genre is the most frequent?

In [31]:
answers['11'] = '3. Drama' #+

In [32]:
data = pd.read_csv('movie_bd_v5.xls')

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts() #create a series and count the number of genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

Option 2

In [33]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres']=data.genres.apply(lambda x: x.split('|')) 
data=data.explode('genres') #splitting genres one by one
data['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. What movie genres are the most profitable?

In [34]:
answers['12'] = '1. Drama' #+

In [35]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = (data['revenue'] - data['budget']) #creating a column containing profit
data['genres']=data.genres.apply(lambda x: x.split('|'))
data=data.explode('genres')#Let's split the genres separately each
data=data[data['profit']>0] 
data['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. Which director has the highest total box office gross?

In [36]:
answers['13'] = '5. Peter Jackson' #+

In [37]:
data = pd.read_csv('movie_bd_v5.xls')
data['director'].str.cat(sep='|').split('|') 
pd.Series(data['director'].str.cat(sep='|').split('|')).value_counts()#split directors
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [38]:
#Option 2
data = pd.read_csv('movie_bd_v5.xls')
data['director']=data.director.apply(lambda x: x.split('|'))
data=data.explode('director')
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Which director has made the most Action movies?

In [39]:
answers['14'] = '3. Robert Rodriguez' #+

In [40]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres']=data.genres.apply(lambda x: x.split('|'))
data=data.explode('genres') #split the genres one by one
data['director']=data.director.apply(lambda x: x.split('|'))
data=data.explode('director')#split directors
data.groupby('genres')['director'].value_counts().loc['Action']

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Vic Armstrong         1
Vicky Jenson          1
Wayne Kramer          1
Wolfgang Petersen     1
Xavier Gens           1
Name: director, Length: 364, dtype: int64

# 15. Which actor's films were the highest-grossing at the box office in 2012?

In [41]:
answers['15'] = '3. Chris Hemsworth' #+

In [42]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast']=data.cast.apply(lambda x: x.split('|'))
data=data.explode('cast') #split actors 
data=data[data['release_year']==2012] #filtering by the year
data.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Which actor has starred in the most big-budget films?

In [43]:
answers['16'] = '3. Matt Damon' #+

In [44]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast']=data.cast.apply(lambda x: x.split('|'))
data=data.explode('cast') #split the actors for each movie
data=data[data['budget']>data.budget.mean()] #filtered by high-budget films
data['cast'].value_counts() #calculated the number of big-budget films for each actor

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Cliff Robertson       1
Carrie Coon           1
Rip Torn              1
Lara Flynn Boyle      1
Piper Perabo          1
Name: cast, Length: 1505, dtype: int64

# 17.In what movie genre did Nicolas Cage most appear?

In [45]:
answers['17'] = '1. Drama' #+

In [46]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres']=data.genres.apply(lambda x:x.split('|'))
data=data.explode('genres')
data1=data[data.cast.str.contains('Nicolas Cage',na=False)] 
data1['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. The most unprofitable movie from Paramount Pictures

In [47]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [48]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = (data['revenue'] - data['budget'])
data_company=data[data.production_companies.str.contains('Paramount Pictures',na=False)] #left movies only by Paramount Pictures
data_company[data_company['profit']==data_company['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19.What year was the most successful in terms of total box office?

In [49]:
answers['19'] = '5. 2015' #+

In [50]:
data = pd.read_csv('movie_bd_v5.xls')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. What is the most profitable year for Warner Bros?

In [51]:
answers['20'] = '1. 2014' #+

In [52]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = (data['revenue'] - data['budget'])
data_company=data[data.production_companies.str.contains('Warner Bros')] #left values that contain only Warner Bros
data_company.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. In which month did the most movies come out in total over the years?

In [53]:
answers['21'] = '4. Сентябрь' #+

In [54]:
data = pd.read_csv('movie_bd_v5.xls')
data['release_date']=data.release_date.apply(lambda x: x.split('/')) #separated the dates of each movie
data.release_date.apply(lambda x: x[0]).value_counts() #counted the number of movie for each month

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. How many films were released in total in the summer? (for June, July, August)

In [55]:
answers['22'] = '2. 450' #+

In [56]:
data = pd.read_csv('movie_bd_v5.xls')
data['release_date']=data.release_date.apply(lambda x: x.split('/')) #split the date of each movie
data1=data.release_date.apply(lambda x: x[0]).value_counts() #choose only month
print(data1.loc["6"]+data1.loc["7"]+data1.loc["8"])

450

# 23. For which director is winter the most productive time of the year?

In [57]:
answers['23'] = '5. Peter Jackson' #+

In [58]:
data = pd.read_csv('movie_bd_v5.xls')
data['director']=data.director.apply(lambda x:x.split('|')) 
data=data.explode('director')  #split directors one per line
data['release_date']=data.release_date.apply(lambda x: x.split('/')[0])
data1=data.loc[data['release_date'].isin(['12','1','2'])] #selected only winter months and filtered
data1['director'].value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Shawn Levy           4
                    ..
Lexi Alexander       1
Iain Softley         1
Anne Fletcher        1
David Frankel        1
Diane Keaton         1
Name: director, Length: 358, dtype: int64

# 24.Which studio gives the longest movie titles by character count?

In [61]:
answers['24'] = '5. Four By Two Productions' #+

In [62]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies']=data.production_companies.apply(lambda x:x.split('|'))
data=data.explode('production_companies')
data['original_title']=data.original_title.apply(lambda x: len(x)) #found the length of each movie title
data.groupby('production_companies')['original_title'].mean(
                      ).sort_values(ascending=False) #sorted in descending order by average longest titles

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Which studio's film descriptions are, on average, longest by word count?

In [63]:
answers['25'] = '3. Midnight Picture Show' #+

In [64]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies']=data.production_companies.apply(lambda x:x.split('|'))
data=data.explode('production_companies')
data['overview']=data.overview.apply(lambda x: len(x.split(' '))) #found the number of characters in the description of each movie
data.groupby('production_companies')['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overview, Length: 1771, dtype: float64

# 26. What films are in the top 1% by rating?

In [65]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave' #+

In [68]:
data = pd.read_csv('movie_bd_v5.xls')
data1=data.sort_values(by='vote_average',ascending=False)[
                    ['original_title','vote_average']] #sorted films in descending order by the rating
percent=round(1*(len(data))/100)
#filtered movies with a cut to the resulting number of movies in 1%
data3=data1.groupby('original_title')['vote_average'].max(
                      ).sort_values(ascending=False).index[:(percent)] 
data3

Index(['The Dark Knight', 'The Imitation Game', 'Interstellar', 'Room',
       'Inside Out', 'Memento', 'The Pianist', 'Inception',
       'The Grand Budapest Hotel',
       'The Lord of the Rings: The Return of the King',
       'Guardians of the Galaxy', 'Gone Girl', 'The Wolf of Wall Street',
       '12 Years a Slave', 'Mr. Nobody', 'The Fault in Our Stars',
       'The Lord of the Rings: The Two Towers',
       'The Lord of the Rings: The Fellowship of the Ring', 'Spotlight'],
      dtype='object', name='original_title')

# 27. Which actors are most likely to appear in the same movie together?

In [69]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [70]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast']=data.cast.apply(lambda x:x.split('|')) #created dataset from the 'actor' dataset
data=data.cast.reset_index() #
data['cast']=data.cast.apply(lambda x: list(itertools.combinations(x, 2))) #combine elements in pairs
data_comb=data.explode('cast') 
collections.Counter(data_comb['cast']).most_common(1) #looking for the most frequent pair of actors

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [71]:
# at the end you can see all answers to each question
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283) ',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5.The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5.The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '1. Drama',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [72]:
# and make sure you didn't miss anything
len(answers)

27