<a href="https://colab.research.google.com/github/Polinia/skillfactory_rds/blob/main/Movies_IMBD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
import itertools
from itertools import combinations

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1104,tt0332379,35000000,131282949,The School of Rock,Jack Black|Joan Cusack|Mike White|Sarah Silver...,Richard Linklater,He just landed the gig of his life: 5th grade.,"Fired from his band and hard up for cash, guit...",108,Comedy|Music,Paramount Pictures,10/3/2003,6.6,2003
780,tt1622979,47000000,157887643,Final Destination 5,Emma Bell|Nicholas D'Agosto|Miles Fisher|Ellen...,Steven Quale,We all share a common destination.,"In this fifth installment, Death is just as om...",92,Horror|Mystery,New Line Cinema|Practical Pictures|Parallel Zide,8/12/2011,5.9,2011
642,tt0494238,60000000,57490374,Inkheart,Brendan Fraser|Sienna Guillory|Andy Serkis|Eli...,Iain Softley,Every story ever written is just waiting to be...,The adventures of a father and his young daugh...,106,Adventure|Family|Fantasy,New Line Cinema|Internationale Filmproduktion ...,12/11/2008,5.8,2008
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011
1655,tt0338512,74500000,62172050,Deux frÃ¨res,MaÃ¯ Anh Le|Guy Pearce|Oanh Nguyen|Jaran 'See ...,Jean-Jacques Annaud,"Two infant tiger cubs, separated from their pa...",Two tigers are separated as cubs and taken int...,109,Adventure|Drama|Family,PathÃ© Renn Productions|TF1 Films Production|C...,4/7/2004,6.8,2004

In [ ]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#profit:
data['profit'] = (data['revenue'] - data['budget'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

In [ ]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) ' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget']==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [ ]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [ ]:
data.loc[data['runtime']==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] ='3. Winnie the Pooh (tt1449283) ' #+

In [ ]:
data.loc[data['runtime']==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '2. 110' #+

In [ ]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '1. 107' #+

In [ ]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [ ]:
answers['6'] = '5. Avatar (tt0499549)' #+

In [ ]:
data[data['profit']==data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = '5.The Lone Ranger (tt1210819)' #+

In [ ]:
data[data['profit']==data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = '1. 1478' #+

In [ ]:
len(data[data['revenue']>data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

In [ ]:
data[data['revenue']==data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = '5.The Lone Ranger (tt1210819)' #+

In [ ]:
data[data['profit']==data[(data.release_year>=2012) & (data.release_year<=2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = '3. Drama' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts() #создадим серию и подсчитаем количество жанров

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres']=data.genres.apply(lambda x: x.split('|')) 
data=data.explode('genres') #разделим кажнры по одному
data['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = '1. Drama' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = (data['revenue'] - data['budget']) #создадим колонку содержащую прибыль
data['genres']=data.genres.apply(lambda x: x.split('|'))
data=data.explode('genres')#разложим жанры отдельно каждый
data=data[data['profit']>0] 
data['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
answers['13'] = '5. Peter Jackson' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['director'].str.cat(sep='|').split('|') 
pd.Series(data['director'].str.cat(sep='|').split('|')).value_counts()#разделим режиссеров
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [ ]:
#ВАРИАНТ2
data = pd.read_csv('movie_bd_v5.xls')
data['director']=data.director.apply(lambda x: x.split('|'))
data=data.explode('director')
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '3. Robert Rodriguez' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres']=data.genres.apply(lambda x: x.split('|'))
data=data.explode('genres') #разложили жанры по одному 
data['director']=data.director.apply(lambda x: x.split('|'))
data=data.explode('director')#разложили режиссеров 
data.groupby('genres')['director'].value_counts().loc['Action']

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Vic Armstrong         1
Vicky Jenson          1
Wayne Kramer          1
Wolfgang Petersen     1
Xavier Gens           1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '3. Chris Hemsworth' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast']=data.cast.apply(lambda x: x.split('|'))
data=data.explode('cast') #разложили актеров по одному 
data=data[data['release_year']==2012] #отфильтровали по заданному году
data.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '3. Matt Damon' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast']=data.cast.apply(lambda x: x.split('|'))
data=data.explode('cast') #разбили актеров по одному на каждый фильм
data=data[data['budget']>data.budget.mean()] #отфильтровали по высокобюджетным фильмам
data['cast'].value_counts() #подсчитали количество высокобюджетных фильмов для каждого актера

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
                     ..
Michael Stuhlbarg     1
John Finn             1
Judy Greer            1
James Karen           1
Corey Burton          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '1. Drama' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres']=data.genres.apply(lambda x:x.split('|'))
data=data.explode('genres')
data1=data[data.cast.str.contains('Nicolas Cage',na=False)] 
data1['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = (data['revenue'] - data['budget'])
data_company=data[data.production_companies.str.contains('Paramount Pictures',na=False)] #оставили только фильмы от Paramount Pictures
data_company[data_company['profit']==data_company['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '5. 2015' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '1. 2014' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = (data['revenue'] - data['budget'])
data_company=data[data.production_companies.str.contains('Warner Bros')] #оставили значения,которые содержат только Warner Bros
data_company.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '4. Сентябрь' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['release_date']=data.release_date.apply(lambda x: x.split('/')) #разделили даты каждого фильма
data.release_date.apply(lambda x: x[0]).value_counts() #подсчитали количество фильмов для каждого месяца

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = '2. 450' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['release_date']=data.release_date.apply(lambda x: x.split('/')) #разделили дату каждого фильм
data1=data.release_date.apply(lambda x: x[0]).value_counts() #выбрали только месяц
print(data1.loc["6"]+data1.loc["7"]+data1.loc["8"])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = '5. Peter Jackson' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['director']=data.director.apply(lambda x:x.split('|')) 
data=data.explode('director')  #разбили режиссеров по одному в строке
data['release_date']=data.release_date.apply(lambda x: x.split('/')[0])
data1=data.loc[data['release_date'].isin(['12','1','2'])] #выбрали только зимние месяцы и отфильтровали
data1['director'].value_counts()

Peter Jackson         7
Clint Eastwood        6
Steven Soderbergh     6
Martin Scorsese       4
Nancy Meyers          4
                     ..
Robin Budd            1
Ben Garant            1
Paul W.S. Anderson    1
David Dobkin          1
Richard Eyre          1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '5. Four By Two Productions' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies']=data.production_companies.apply(lambda x:x.split('|'))
data=data.explode('production_companies')
data['original_title']=data.original_title.apply(lambda x: len(x)) #нашли длину каждого названия фильма
data.groupby('production_companies')['original_title'].mean().sort_values(ascending=False) #отсортировали по убыванию в среднем самые длинные названия

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '3. Midnight Picture Show' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies']=data.production_companies.apply(lambda x:x.split('|'))
data=data.explode('production_companies')
data['overview']=data.overview.apply(lambda x: len(x.split(' '))) #нашли количество символов в описании каждого фильма
data.groupby('production_companies')['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data1=data.sort_values(by='vote_average',ascending=False)[['original_title','vote_average']] #отсортировали фильмы по убыванию в зависимости от рейтинга
percent=round(1*(len(data))/100)
data3=data1.groupby('original_title')['vote_average'].max().sort_values(ascending=False).index[:(percent)] #отфильтровали фильмы со срезом до полученного количества фильмов в 1%
data3

Index(['The Dark Knight', 'The Imitation Game', 'Inside Out', 'Interstellar',
       'Room', 'The Grand Budapest Hotel', 'The Pianist',
       'Guardians of the Galaxy', 'Memento', 'The Wolf of Wall Street',
       'Inception', 'Gone Girl', '12 Years a Slave',
       'The Lord of the Rings: The Return of the King', 'Prisoners',
       'The Fault in Our Stars', 'Eternal Sunshine of the Spotless Mind',
       'The Prestige', 'The Lord of the Rings: The Fellowship of the Ring'],
      dtype='object', name='original_title')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast']=data.cast.apply(lambda x:x.split('|')) #создали датасет из столбца с актерами
data=data.cast.reset_index() #
data['cast']=data.cast.apply(lambda x: list(itertools.combinations(x, 2))) #комбинируем элементы по парам
data_comb=data.explode('cast') 
collections.Counter(data_comb['cast']).most_common(1) #ищем наиболее частую пару актеров

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283) ',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5.The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5.The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '1. Drama',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)

27